
<% if(messages.error || messages.notice || messages.message) { %>

  <div class="alert alert-<%= messages.error ? 'danger' : 'warning' %> alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% if(messages.error) { %>
          Validation errors:
          <ul>
            <% messages.error.forEach((err) => { %>
              <li><%= `${err.param} ${err.msg}` %></li>
            <% }) %>
          </ul>
          <% } else if(messages.notice){ %>
            <p><%= messages.notice %></p>
          <% } else { %>
            <ul>
                <% messages.message.forEach((err) => { %>
                  <li><%= `${err}` %></li>
                <% }) %>
            </ul>
          <% } %>  
        </div>
      <% } %>
  