<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Downgrade Account</h1>
      <p>Sad to see ya go</p>

      <form action="/users/downgrade" method="POST">
        <button type="submit" class="btn btn-danger">Downgrade My Account</button>
      </form>
    </main>

    <% include ../static/partials/baseScript.ejs %>

  </body>
</html>
